@use 'animations'as *;
@use 'reset'as *;
@use 'typography'as *;

html { font-family: var(--ff-poppins); }
body { background: var(--smoky-black); }

/* Scrollbars globales (escritorio grande) */
@media (min-width: 1250px) {
  body::-webkit-scrollbar { width: 20px; }
  body::-webkit-scrollbar-track { background: var(--smoky-black); }
  body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
                inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
  }
  body::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.15); }
  body::-webkit-scrollbar-button { height: 60px; }
}