.h2, .h3, .h4, .h5 {
  color: var(--white-2);
  text-transform: capitalize;
}

.h2 { font-size: var(--fs-1); }
.h3 { font-size: var(--fs-2); }
.h4 { font-size: var(--fs-4); }
.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.article-title {
  position: relative;
  padding-bottom: 7px;
  margin-bottom: 30px;
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: var(--text-gradient-yellow);
  border-radius: 3px;
}

/* Ajustes Typography Responsive */
@media (min-width: 580px) {
  .article-title {
    font-weight: var(--fw-600);
    padding-bottom: 15px;
  }
  .article-title::after {
    width: 40px;
    height: 5px;
  }
}

@media (min-width: 768px) {
  .article-title { padding-bottom: 20px; }
}