@use "grid" as *;
@use "footer" as *;
@use "forms" as *;
@use "navbar" as *;
@use "sidebar" as *;
@use "header" as *;


main {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}

article {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  display: none;
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

/* Responsive Layout */
@media (min-width: 580px) {
  article {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
  }
  main {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {
  article { width: 700px; }
}

@media (min-width: 1024px) {
  article {
    width: 950px;
    box-shadow: var(--shadow-5);
  }
  main { margin-bottom: 60px; }
  .main-content {
    position: relative;
    width: max-content;
    margin: auto;
  }
}

@media (min-width: 1250px) {
  article { width: auto; min-height: 100%; }
  main {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }
  .main-content {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }
}